<div class="card">
  <div class="card-body">
    <h1>About</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil id in minus sed consectetur obcaecati ab accusamus dignissimos cum amet, odio ipsum ducimus! Animi veritatis, quod ipsam cumque minus voluptates!</p>
  </div>
</div>