<div class="jumbotron-mt-4">
  <h1 class="display-4">Notes APP NodeJS and MONGODB</h1>
  <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed asperiores quo culpa hic, sequi eos non. Architecto laboriosam recusandae eius unde atque. Voluptate quae eius ut minima recusandae, asperiores esse.</p>
  <hr class="my-4">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo recusandae eveniet nesciunt, possimus perspiciatis corporis alias est praesentium ipsum modi? Id quibusdam aliquam quos eius voluptates et molestias rem beatae?</p>
  <a href="http://faztweb.com" class="btn btn-primary btn-lg">Faztweb</a>
</div>